* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*-----------------------CALENDAR----------------------*/

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, black, black, black);
  display: flex;
  align-items: center;
  padding-left: 150px;
}
.calender {
  width: 300px;
  height: 250px;
  display: flex;

  align-items: center;
  border-radius: 10px;
  background: white;
}
.left,
.right {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
}
.right {
  width: 42%;
  background: red;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.left {
  width: 58%;
}
#date {
  font-size: 100px;
  line-height: 90px;
}
/*--------------------CLOCK-------------------*/
.container {
  width: 600px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.clock {
  width: 100%;
  height: 100%;
  background: rgba(235, 0, 255, 0.11);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  backdrop-filter: blur(40px);
}
.container::before {
  content: "";
  width: 120px;
  height: 120px;
  background: red;
  border-radius: 18px;
  position: absolute;
  left: -50px;
  top: -50px;
  z-index: -1;
}
.container::after {
  content: "";
  width: 130px;
  height: 130px;
  background: white;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  bottom: -50px;
  z-index: -1;
}
.clock span {
  font-size: 70px;
  width: 95px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.clock span::after {
  font-size: 12px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
#hrs::after {
  content: "HOURS";
}
#min::after {
  content: "MINS";
}
#sec::after {
  content: "SEC";
}
